src/main/jaxb/xsds/csw-filter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by chris van lith (B3partners BV) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns="http://www.opengis.net/ogc" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opengis.net/ogc" elementFormDefault="qualified">
	<xs:element name="Filter">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PropertyIsLike">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PropertyName" type="xs:string"/>
							<xs:element name="Literal" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="wildCard" type="wildCardType"/>
						<xs:attribute name="singleChar" type="singleCharType"/>
						<xs:attribute name="escape" type="escapeType"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="wildCardType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="%"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="singleCharType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="_"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="escapeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="\"/>
		</xs:restriction>
	</xs:simpleType>


</xs:schema>
