src/main/jaxb/xsds/csw-request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by chris van lith (B3partners BV) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns="http://www.opengis.net/cat/csw/2.0.2" xmlns:ogc="http://www.opengis.net/ogc" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="http://www.opengis.net/cat/csw/2.0.2" elementFormDefault="qualified" jaxb:version="2.0">
	<xs:import namespace="http://www.opengis.net/ogc" schemaLocation="filter/1.1.0/filter.xsd"/>
	<xs:element name="GetRecords">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Query" type="QueryType"/>
			</xs:sequence>
			<xs:attribute name="version" type="cswVersionType"/>
			<xs:attribute name="service" type="serviceType"/>
			<xs:attribute name="resultType" type="resultTypeType"/>
			<xs:attribute name="outputSchema" type="outputSchemaType"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="QueryType">
		<xs:sequence>
			<xs:element name="ElementSetName" type="ElementSetNameType" minOccurs="0"/>
			<xs:element name="Constraint" type="ConstraintType"/>
		</xs:sequence>
		<xs:attribute name="typeNames" type="typeNamesType"/>
	</xs:complexType>
	<xs:simpleType name="ElementSetNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="full"/>
			<xs:enumeration value="brief"/>
			<xs:enumeration value="summary"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ConstraintType">
		<xs:sequence>
			<xs:element ref="ogc:Filter"/>
		</xs:sequence>
		<xs:attribute name="version" type="filterVersionType"/>
	</xs:complexType>
	<xs:simpleType name="filterVersionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeNamesType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="gmd:MD_Metadata"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cswVersionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2.0.2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="serviceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CSW"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="resultTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="results"/>
			<xs:enumeration value="hits"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="outputSchemaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="csw:Record"/>
			<xs:enumeration value="csw:IsoRecord"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
