jaxb/xsds/csw-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by chris van lith (B3partners BV) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema targetNamespace="http://www.opengis.net/cat/csw/2.0.2" elementFormDefault="qualified"
		xmlns="http://www.opengis.net/cat/csw/2.0.2" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
		
	<xs:element name="GetRecordsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SearchStatus" minOccurs="0" type="SearchStatusType"/>
				<xs:element name="SearchResults" minOccurs="0" type="SearchResultsType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="SearchStatusType">
		<xs:attribute name="timestamp" type="xs:dateTime"/>
	</xs:complexType>

	<xs:complexType name="SearchResultsType">
		<xs:sequence>
			<!--xs:element name="anyNode" type="xs:anyType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/-->
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="numberOfRecordsReturned" type="xs:int"/>
		<xs:attribute name="numberOfRecordsMatched" type="xs:int"/>
		<xs:attribute name="nextRecord" type="xs:int"/>
		<xs:attribute name="elementSet" type="elementSetType"/>
	</xs:complexType>

	<xs:simpleType name="elementSetType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="full"/>
			<xs:enumeration value="brief"/>
			<xs:enumeration value="summary"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
