castor/xsds/csw-request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by chris van lith (B3partners BV) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns="http://www.opengis.net/cat/csw/2.0.2" xmlns:ogc="http://www.opengis.net/ogc" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opengis.net/cat/csw/2.0.2" elementFormDefault="qualified">
	<xs:import namespace="http://www.opengis.net/ogc" schemaLocation="csw-filter.xsd"/>
	<xs:element name="GetRecords">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Query">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ElementSetName" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="full"/>
										<xs:enumeration value="brief"/>
										<xs:enumeration value="summary"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Constraint">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ogc:Filter"/>
									</xs:sequence>
									<xs:attribute name="version">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="1.1.0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typeNames">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="gmd:MD_Metadata"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2.0.2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="service">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CSW"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="resultType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="results"/>
						<xs:enumeration value="hits"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="outputSchema">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="csw:Record"/>
						<xs:enumeration value="csw:IsoRecord"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
